---
interface Props {
  src: string;
}

const { src } = Astro.props;
---

<div class="relative w-full aspect-video">
  <iframe
    src={src}
    class="absolute inset-0 w-full h-full rounded-lg border-0"
    allowfullscreen
  ></iframe>
</div>
