name: Publish

on:
  push:
    branches: [ master ]

env:
  AZURE_WEBAPP_NAME: shibayan

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version-file: package.json
        cache: npm
        cache-dependency-path: package-lock.json

    - name: npm ci and build
      run: |
        npm ci
        npm run build

    - name: Upload artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: dist
        path: dist

  publish:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: production
      url: https://shibayan.jp
    steps:
    - name: Download artifact
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: dist
        path: dist

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@657f0700ea5214d56a0400d8ac5e8023c963d25d # v3.0.6
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: dist